body{
    text-align: center;
    background: #556;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #fff;
  font-weight: 100;
  font-size: 50px;
  margin: 40px 0px 20px;
}

#pumac{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}
#pumac > div{
    padding: 0px 50px;
    border-radius: 3px;
    display: inline-block;
}
#pumac div > span{
    padding: 15px;
    border-radius: 3px;
    background: #575;
    display: inline-block;
}

#cmimc{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}
#cmimc > div{
    padding: 0px 50px;
    border-radius: 3px;
    display: inline-block;
}
#cmimc div > span{
    padding: 15px;
    border-radius: 3px;
    background: #575;
    display: inline-block;
}

#hmmt{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}
#hmmt > div{
    padding: 0px 50px;
    border-radius: 3px;
    display: inline-block;
}
#hmmt div > span{
    padding: 15px;
    border-radius: 3px;
    background: #575;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}