body{text-align: center;background: #555;
  font-family: sans-serif;
  font-weight: 100;}

a:link {color: #ccc;} /* unvisited link */
a:visited {color: #789;} /* visited link */
a:hover {color: #eee;} /* mouse over link */
a:active {color: #89a;} /* selected link */

.smalltext{padding-top: 5px;font-size: 16px;}

.tinytext{font-size: 10px;}

h1{
  color: #fff;
  font-weight: 100;
  font-size: 25px;
  margin: 20px 0px 15px;}

h15{
  color: #fff;
  font-weight: 100;
  font-size: 30px;
  margin: 40px 0px 20px;}

h2{
text-align: left;
  color: #fff;
  font-weight: 100;
  font-size: 15px;
  margin: 40px 0px 20px;}


#fraction, #omospring, #omofall, #pumac, #cmimc, #hmmt, #arml, #meet1, #meet2, #meet3, #meet4, #meet5, #amca, #amcb, #aimei, #aimeii, #usamo, #state, #nimo27, #nimo28, #nimo29, #nimo30, #nimo31, #nimoapril, #nimo32
{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size:16px;
	padding: 0px 10px;
}
#clearing > div, #omospring > div, #omofall > div, #pumac > div, #cmimc > div, #hmmt > div, #arml > div, #meet1 > div, #meet2 > div, #meet3 > div, #meet4 > div, #meet5 > div, #amca > div, #amcb > div, #aimei > div, #aimeii > div, #usamo > div, #state > div, #nimo27 > div, #nimo28 > div, #nimo29 > div, #nimo30 > div, #nimo31 > div, #nimoapril > div, #nimo32 > div
{
	border-radius: 4px
	display: inline-block;
}
#omospring div > span, #omofall div > span, #pumac div > span, #cmimc div > span, #hmmt div > span, #arml div > span, #meet1 div > span, #meet2 div > span, #meet3 div > span, #meet4 div > span, #meet5 div > span, #amca div > span, #amcb div > span, #aimei div > span, #aimeii div > span, #usamo div > span, #state div > span, #nimo27 div > span, #nimo28 div > span, #nimo29 div > span, #nimo30 div > span, #nimo31 div > span, #nimoapril div > span, #nimo32 div > span
{
	padding: 10px;
	border-radius: 3px;
	background: #575;
	display: inline-block;
}
#fraction {float: right;}
#fraction > div
{
	padding: 0px 4px;
	border-radius: 2px;
	display: inline-block;
	color:#fff;
}
#fraction div > span
{
	padding: 6px;
	border-radius: 2px;
	background: #575;
	display: inline-block;
	color:#fff;
}
#clearing{clear: both;}


#omospring, #nimoapril, #usamo, #nimo32, #nimo27, #nimo27, #omofall, #nimo30 {padding: 0px 3px; }